body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link{
  font-weight: 500;
}

.nav-link:hover, .links-list-item:hover{
  text-decoration: underline;
  transition: 5s;
}

.links-list-item{
  text-decoration: none;
  letter-spacing: 1px;
}

.hero-div{
  padding: 20px 0px 0px 0px;
}

.picture img{
  border-radius:20px;
}

.full-stack{
  font-weight: 400;
  text-shadow: 0px 0px 10px 10px;
  background: -webkit-linear-gradient(right, orangered, rgb(156, 26, 195), rgba(0, 157, 255, 0.774));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-cv-button:hover{
  background-color: black;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.about-div h1{
  letter-spacing: 12px;
  line-height: 200%;
  font-weight: 700;
  position: relative;
  bottom: 30px;
}

.about-div:hover h1{
  text-decoration: underline;
  transition: 0.5s ease-in;
}

.about-div p{
  line-height: 25px;
}

.skills-first-list li{
  font-weight: 600;
  letter-spacing: 2px;
  font-size: larger;
}

.soon-skills
{
  margin-top: 100px;
}